<a href="https://colab.research.google.com/github/Cooljoe67/pandas/blob/main/02b_Selecting_and_indexing_bonus_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Read the csv file from this url:
'https://drive.google.com/file/d/1P2EyVCFAPeJcQ_lAN2W-bjwtbizOeFXE/view?usp=drive_link'

Name it `sets_df`

In [ ]:
# your code here

#### Exercise 1
Select and display only the `"name"` and `"year"` columns from `sets_df` using `.loc`

In [ ]:
# your code here

#### Exercise 2
Display the first 5 rows and first 3 columns of `sets_df` using `.iloc`

In [ ]:
# your code here

#### Exercise 3
Set the `set_num` column as an index using `.set_index()`. Make sure the change is done on the original DataFrame.

In [ ]:
# your code here

#### Exercise 4
Select the lego sets   
\['2250-2', '7324-21', '9509-15', '2824-8', '7324-12', '60024-11']

In [ ]:
# your code here

#### Exercise 5
Building on Exercise 4, select only the columns `"num_parts"` and `"theme_id"` for these sets.

In [ ]:
# your code here

#### Exercise 6
Reset the index so that `"num_set"` is just a regular column again.

In [ ]:
# your code here

#### Exercise 7
Now set `"year"` as the index and use `.loc` to select the year 1992. What happens?     
Reset the index after.

In [ ]:
# your code here

#### Exercise 8
Use `set_index` to create a DataFrame with [two indexes](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html).

In [ ]:
# your code here

#### Exercise 9
Display the columns `set_num`, `theme_id` and `num_parts` of the last 15 rows by using `.iloc`

In [ ]:
# your code here