<a href="https://colab.research.google.com/github/Cooljoe67/pandas/blob/main/07b_Grouping_and_merging_bonus_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Read the csv file from this url:
'https://drive.google.com/file/d/1P2EyVCFAPeJcQ_lAN2W-bjwtbizOeFXE/view?usp=drive_link'

Name it `sets_df`

In [2]:
sets_df = pd.read_csv('C:/Users/Marcus/Downloads/sets.csv')

In [ ]:
sets_df

#### Exercise 1
How many sets were released in each year?

In [8]:
sets_df.groupby("year")['set_num'].count().sort_values(ascending=False)

year
2014    71
2015    66
2013    58
2012    46
2010    46
        ..
1964     1
1971     1
1961     1
1957     1
1956     1
Name: set_num, Length: 62, dtype: int64

#### Exercise 2
In which five years were the most sets released?

In [9]:
sets_df.groupby("year")['set_num'].count().nlargest(5)

year
2014    71
2015    66
2013    58
2010    46
2012    46
Name: set_num, dtype: int64

#### Exercise 3
What is the median number of parts and the number of sets in each theme?

In [14]:
sets_df.groupby("theme_id")['num_parts'].agg(Median_num_parts=('median'), cnt_sets=('count'))

          Median_num_parts  cnt_sets
theme_id
1                    250.0        14
3                     78.0         3
5                    353.0         1
6                    308.0         1
7                    595.0         5
...                    ...       ...
605                 1184.0         1
606                  615.0         1
610                   93.0         1
611                    8.0         2
616                  890.0         2

[337 rows x 2 columns]

#### Exercise 4
In which year(s) were the most sets released under a single theme?

In [41]:
sets_df.groupby(["theme_id","year"])[['year','theme_id']].agg('count').nlargest(1,"theme_id")

               year  theme_id
theme_id year
371      1966     7         7

In [43]:
sets_df.groupby(["theme_id", "year"]).size().reset_index().nlargest(1,0)

     theme_id  year  0
390       371  1966  7

#### Load more data
Run the cell below to load more DataFrames for practice on merging.

In [44]:
def read_data(id):
    return pd.read_csv('https://drive.google.com/uc?export=download&id='+id_dict[id])

id_dict = {
    'sets': '1Dkd09FsucudaWVPkTHRV8Wx_GachJLI1',
    'inventories': '1CoBbtb0XuVcQLk_EqfeQKcfY8EuClOcg',
    'inventory_minifigs': '1e3eogAYpdz0-B_ccdVkfbwOVyNXOckn5',
    'minifigs': '1NOs2Lrxn4Kp-731q8dpBDZkzYpK6WuFm',
    'themes': '1y_RE8f-J91DQBA8qaP-xVlKb_ZZe8ky_',
}

sets_df = read_data('sets')
inventories_df = read_data('inventories')
inventory_minifigs_df = read_data('inventory_minifigs')
minifigs_df = read_data('minifigs')
themes_df = read_data('themes')

Explore all the available DataFrames to get an idea of how they might be merged.

In [ ]:
#sets_df 
inventories_df

       inventory_id     fig_num  quantity
0                 3  fig-001549         1
1                 4  fig-000764         1
2                19  fig-000555         1
3                25  fig-000574         1
4                26  fig-000842         1
...             ...         ...       ...
21765        218785  fig-004793         1
21766        218785  fig-004794         1
21767        218785  fig-004795         1
21768        219601  fig-006021         1
21769        219685  fig-014780         1

[21770 rows x 3 columns]

###### **Hint:**

Use something like `.info()` or `.columns` to search for common names.

In [ ]:
#themes_df.columns
#sets_df.columns
#inventories_df.columns
#inventory_minifigs_df.columns
#minifigs_df
inventory_minifigs_df

Index(['fig_num', 'name', 'num_parts', 'img_url'], dtype='object')

#### Exercise 5
What is the name of the theme with the most sets associated?

In [70]:
sets_df.merge(themes_df, left_on='theme_id', right_on='id').groupby(['theme_id','name_y'])[["theme_id","name_y"]].size().reset_index().nlargest(1,0)

    theme_id     name_y    0
73       158  Star Wars  909

#### Exercise 6
What minifigs are in the set 'Traitor Transport (with Cave)'?    

> If two DataFrames have a column of the same name (other than the merging column), you can control the columns' names in the output by using the parameter `suffixes` in the merge.

In [87]:
sets_df.loc[sets_df["name"] == 'Traitor Transport (with Cave)'].merge(inventories_df,left_on="set_num",right_on='set_num',suffixes=('_sets','_inv')).merge(inventory_minifigs_df,left_on='id_inv',right_on='inventory_id')

KeyError: 'id_inv'

#### Exercise 7
Which set has the has the highest version number?

In [ ]:
#Your code here

#### Exercise 8
How many minifigs are the set "Mos Eisley Cantina" (2020)?     
Which minifig appears most in that set? (Try to get a picture of it.)

In [ ]:
#Your code here